.webpost {
    max-width:700px;
    min-width:450px;
    margin:auto;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.day{
    font-size:large;
    display:block;
}
.month {
    font-size:large;
    display:block;
}
.year {
    font-size:medium;
    display:block;
}
.bg-dark {
    background-color:#343434;
}
.webpost_date {
    width:10%; 
    height:70px; 
    float:left;
    text-align:center;
    /*background-color:#343434;*/
    
}
.container{
}
.webpost_text {
    overflow: auto; 
    -ms-word-wrap: break-word;
     word-wrap: break-word;
}
.webpost_title {
   width:90%; 
   height:70px; 
   float:left; 
   text-align:center;
   display: block;
   vertical-align: middle;
}
.webpost_remove{
   height:70px; 
   width:70px;
   float:right; 
   position:absolute;
   font-size:xx-large;
}

.banner {
    height: 250px;
    background: #a3cbe0;
    background-image: url('../img/rektleaguebanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



.headshot {
    width: 100px;
    height: 100px;
    border: 5px solid #222;
    margin: 5px;
}
.username_style {
    font-family: 'Helvetica Neue LT Pro';
    font-size:x-large;
}
/*.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }*/

#sidebar {
    background: #222;
    color: #eee;
    position: absolute;
    height: auto;
    width: 250px;
    overflow: auto;
    left: 0;
    margin: 0;
    -moz-transition: left .25s;
    -o-transition: left .25s;
    -webkit-transition: left .25s;
    transition: left .25s;
    
}

#toggle_sidebar {
    height: 100%;
}

#sidebar.hide-sidebar {
    left: -230px;
    -moz-transition: left .25s;
    -o-transition: left .25s;
    -webkit-transition: left .25s;
    transition: left .25s;
}

/*#wrapper {
    margin-left: 250px;
    -moz-transition: margin-left .25s;
    -o-transition: margin-left .25s;
    -webkit-transition: margin-left .25s;
    transition: margin-left .25s;
}

    #wrapper.hide-sidebar {
        margin-left: 20px;
        -moz-transition: margin-left .25s;
        -o-transition: margin-left .25s;
        -webkit-transition: margin-left .25s;
        transition: margin-left .25s;
    }*/
