@model IEnumerable<TheWorld.Models.WebPost>
@{ 
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>Welcome to ZA WORLDO!</h1>
        <a asp-controller="App" asp-action="WebPosts" asp-route-id="1" class="btn btn-lg btn-success">View Web Posts</a>
    </div>

</div>



